.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 50px;
  min-height: 400px; /* Ensure enough height for proper alignment */
  margin-left: 10px;
  margin-right: 10px;
}

.hero-text {
  width: 50%; /* Ensure the text occupies half of the available width */
}

.hero-text h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 28px;
  color: #555;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero-image {
  max-width: 50%; /* Ensure the image section occupies 40% of the width */
}

.hero-image img {
  max-width: 100%;
  margin-top: 50px;
  height: 400px;
  border-radius: 10px;
   /* Ensures the image behaves as a block element */
   margin-right: 90px;
}

.hero-main-btn{
  display: flex;
  flex-shrink: 0; /* Prevent the container-btn from shrinking */
  padding: 20px;
  border-radius: 5px;
}

.hero-btn {
  color: #2e7d32; /* Dark green text */
  background: linear-gradient(135deg, #adffb0, #b6f075); /* Soft gradient green background */
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition */
  border: none;
  font-weight: 500;
  font-size: medium;
}

.hero-btn:hover {
  background: linear-gradient(135deg, #beee86, #67ac1e); /* Slightly darker gradient on hover */
  color: #ffffff; /* White text for contrast */
  transform: scale(1.05); /* Slightly enlarge the button on hover for a modern effect */
  cursor: pointer;

}

